body {
    font-family: Arial, Helvetica, sans-serif;
}
.preview-container {
    height: 350px;
    width: 500px;
    background-color: white;
    border: 1px solid darkgray;
    box-sizing: border-box;
}
.play-container {
    height: 250px;
    width: 350px;
    background-color: white;
    border: 1px solid darkgray;
    box-sizing: border-box;
    display: none;
}
.preview-ctrl {
    display : block;
    position: fixed;
    height: 110px;
    width: 170px;
    padding-left: 20px;
    padding-top: 250px;
}
.play-ctrl {
    display : block;
    position: fixed;
    height: 110px;
    width: 170px;
    padding-left: 20px;
    padding-top: 50px;
}
#preview-header {
    width: 150px;
    color: white;
    background-color: blue;
    font-size:large;
    padding-left: 20px;
}
#play-header {
    width: 150px;
    color: white;
    background-color: blue;
    font-size:large;
    padding-left: 20px;
}
#preview-sub-header {
    width: 200px;
    color: white;
    font-size:small;    
    background-color: grey;
    padding-left: 20px;
}
#play-sub-header {
    width: 200px;
    color: white;
    font-size:small;    
    background-color: grey;
    padding-left: 20px;
}
#btn-preview {
    background-color: blue;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    box-sizing: content-box;
    display: none;
}
#btn-join {
    background-color: green;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    box-sizing: content-box;
    display: none;
}
#btn-play {
    background-color: green;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    box-sizing: content-box;
    display: none;
}
#btn-end {
    background-color: red;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    box-sizing: content-box;
    display: none;
    }
#btn-leave {
    background-color: blue;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    box-sizing: content-box;
    display: none;
    }
#btn-clear {
        background-color: blue;
        color: white;
        width: 50px;
        height: 30px;
        border-radius: 30px;
        box-sizing: content-box;
        display: none;
        }
#video-preview {
    display: block;
    position: fixed;
    background: none;
    width: 320px;
}
#video-play {
    display: block;
    position: fixed;
    background: none;
    width: 640px;
}
#preview-div {
    position: fixed;
}
#play-icon {
    display: none;
    height: 50px;
    width: 50px;
}
#preview-icon {
    display: none;
    height: 50px;
    width: 50px;
}
