body {
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    height: 380px;
    width: 580px;
    background-color: white;
    border: 5px solid black;
    box-sizing: border-box;
}
#page-header{
    width: 150px;
    color: white;
    background-color: blue;
    font-size:large;
    padding-left: 20px;
}
#hdr-host{
    width: 110px;
    color: white;
    font-size:small;    
    background-color: grey;
    padding-left: 20px;
}
#hdr-attendee{
    width: 110px;
    color: white;
    font-size:small;    
    background-color: grey;
    padding-left: 20px;
}
#hdr-attendee-2{
    width: 110px;
    color: white;
    font-size:small;    
    background-color: white;
    padding-left: 20px;
}
#hdr2{
    width: 110px;
    font-size:small;    
    padding-left: 20px;
    color:aliceblue;
}
#btn-start {
    background-color: green;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    }
#btn-end {
    background-color: red;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    }
#btn-att-end {
    background-color: blue;
    color: white;
    width: 60px;
    height: 30px;
    border-top: 20px;
    border-radius: 30px;
    display: block;
    position:relative;
        }
#video-play {
    display: block;
    position: fixed;
    background: none;
    width: 320px;
}
#host-div {
    position: fixed;
}
#att-icon {
    display: none;
    height: 50px;
    width: 50px;
}
.att {
    display: none;
}
.ctrl {
    display : block;
    position: fixed;
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
}
